:root {
    --blue: #010a58;
    --white: #fcf7ef;
    --red: #ff3c3c;
} /* for tweaking colour palette */

html {
    height: 100%;
    font-family: 'Source Code Pro', monospace, Georgia, 'Times New Roman', Times, serif;
    --fg-colour: var(--blue);
    --bg-colour: white;
    --hover-colour: var(--red);
} 

body {
    margin: 0 0;
    height: 100%;
    background: var(--bg-colour);
    color: var(--fg-colour);
} /* stretch body element to fit html parent */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
} /* define basic 2-column grid layout */

#right-panel {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 95%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
} /* image and button wrapper aligned and centered in right hand panel 
     right hand panel set to height 100% to constrain child image */

#left-panel {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 95%;
    text-align: left;
    justify-content: center;
    padding: 1vh 1vw 1vh 1vw;
    
} /* pad the left panel for text formatting */

h1 {
    padding: 0;
    font-size: 2em;
}

#ps-button {
    display: none;
}

#personal-statement {
    font-size: 0.9em;
    display: block;
}

#link-list{
    margin: default 0 0 0;
    padding: 0;
}

#slide {
    height: 90vh;
    margin: 5vh 5vw;
    object-fit: cover;
    object-position: right;
} 

a {
    text-decoration: underline;
    color: var(--fg-colour);
    font-style: italic;
}
a:visited {
    color: var(--fg-colour);
}
a:hover {
    color: var(--hover-colour);
    font-style: normal;
}

.link-div {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.7em;
    align-items: center
}

.link {
    padding: 10px;
}

ul {
    list-style-position: outside;
    list-style-type: none;
    font-size: 0.8em;
    width: auto;
}

#button-div {
    display: none;
    grid-template-columns: 1fr 1fr 1fr ;
    position: relative;
    align-items: center
}

button {
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--home-font);
    color: var(--fg-colour);
    background-color: transparent;
    border: 0px solid var(--fg-colour);
    padding: 10px 10px;
    border-radius: 0px;
}

#image-counter {
    text-align: center;
}

button:hover {
    color: var(--hover-colour);
    background-color: transparent;
    border-color: var(--bg-colour);
    transition-duration: 0.3s;
}

button:focus {
    outline: none;
}

@media (max-width: 800px){
    .container {
        display: flex;
        flex-direction: column;
        width: 100%; 
    }

    #right-panel {
        position: relative; 
        height: auto; 
    }

    #button-div {
        margin-bottom: 5vh;
        display: none;
    }

    #left-panel {
        text-align: center;
        border-right: none;
        width: 95%;
    } 

    #ps-button {
        display: block;
        font-size: 0.9em;  
    }

    #personal-statement {
        display: none;
        height: 90%;
        width: 90%;
        align-self: center;
        text-align: justify;
    }   

    ul {
        padding: 0px;
        margin: 0px;
    }

    #slide {
        width: 80vw;
    }
}

@media (max-width: 1000px) {
    #personal-statement {
        font-size: 0.7em;
    }
}

#clock {
    padding: 0 1vw 2vh 1vw;
    margin-left: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
}

#clock:hover {
    background-color: transparent;
    font-style: italic;
}
